
.section-point {
    border-radius: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    z-index: 2;
    transition: .3s;
    cursor: pointer;
}

.section-point p,
.section-point h5{
    margin: 0;
}

.section-point p{
    color: rgba(0, 0, 0, 0.65);
    text-align: initial;
}

.section-point:hover{
    transform: translate(0, -15px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.03);
    z-index: 99;
}

.section-point i{
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 50%;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

/*footer*/
/* Style for the footer images */
.image-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.footer-image {
    height: 60px; /* Maintain the aspect ratio */
}

/* Responsive styling for smaller screens (phones) */
@media (max-width: 768px) {
    .footer-image {
        max-width: 50px; /* Reduce the image size for smaller screens */
    }
}