.section1 header.masthead {
    background: url("../assets/img/services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.section1 #mainNav {
    background-color: #0e4438;
}

.section1 #mainNav.navbar-shrink {
    background-color: #fff;
}